.cards-container {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    .custom-card {
        flex: 1;
        background-color: #DC143b;
        height: 150px;
        display: flex;
        padding: 15px;
        min-width: 220px;
        align-items: center;
        color: white;
        position: relative;
        border-radius: 15px;
        margin: 5px;
        .count {
            font-size: 32px;
            font-weight: bold;
            height: 65px;
            width: 65px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #ffffff52;
            margin: 0px 15px;
        }
        .title {
            font-size: 22px;
            margin-bottom: 15px;
        }
        .view-more {
            font-size: 15px;
        }
        i.overlay {
            position: absolute;
            bottom: 10px;
            left: 10px;
            font-size: 80px;
            color: #ffffff2d;
        }
    }
}