@import 'variables';
.page {
    padding: 20px;
    width: 100%;
    h3 {
        font-family: "rb"!important;
    }
}

.info-card {
    padding: 20px;
    box-shadow: $box-shadow;
    width: 100%;
    background-color: white;
    margin: 0px 10px;
    .info-card-title {
        margin-bottom: 20px;
    }
    .info-content {
        display: flex;
        flex-wrap: wrap;
        .info {
            flex: 1;
            min-width: 33.3%;
            margin: 15px 0px;
        }
    }
}

.content-table {
    margin: 25px 10px;
    .table-header {
        margin-bottom: 15px;
    }
    .form {
        margin-top: 30px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        label {
            display: block;
        }
        button {
            max-height: 40px;
        }
    }
}
.images-section{
    margin: 20px 0px;
    h3{
        margin: 20px 0pc;
        
    }
    .images{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .image{
            height: 150px;
            width: 150px;
            margin: 5px;
            position: relative;

            img{
             height: 145px;
             width: 145px;
            border-radius: 15px;
            position: absolute;
            bottom: 0;
            }
            .icon-button{
                height: 30px;
                width: 30px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 0;
                left: 0;
                background-color: $primary-color;
                cursor: pointer;
                i{
                    color: white;
                    font-size: 20px;
                }
            }
        }
        .add-button{
            height: 145px;
             width: 145px;
             display: flex;
             align-items: center;
             justify-content: center;
            border-radius: 15px;
             background-color: rgba($accent-color,0.3);
             border: 2px dashed $accent-color;
             cursor: pointer;
             i{
             color: $accent-color;
                 font-size: 75px;
             }
        }
    }
}