@import 'variables';
.header-container {
    width: 100%;
    background-color: white;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    border-bottom: $default-border;
}

.page-info {
    color: #6f6e6e;
    display: flex;
    align-items: center;
}

.page-info .las.la-bars {
    font-size: 30px;
    color: #444;
    margin-right: 20px;
    cursor: pointer;
}

.page-info .group-title {
    color: #444;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.page-info .page-title {
    font-size: 20px;
    color: #17263A;
    font-weight: bold;
}

.user-info-container {
    display: flex;
    align-items: center;
}

.notifications i {
    font-size: 24px;
    margin: 0px 20px;
    color: #6a84a8;
}

.user-container {
    display: flex;
    align-items: center;
}

.user-container img {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.user-container .text {
    margin: 0px 10px;
}

.header-container.rtl .page-info .las.la-bars {
    margin-left: 20px;
    margin-right: 0px;
}