<div [class.rtl]="direction == 'rtl'" class="header-container">
    <div class="page-info">
        <div (click)="onToggleClicked()" class="toggle">
            <i class="las la-bars"></i>

        </div>
        <div>
            <div class="group-title">الرئيسية <span>
                <i *ngIf="direction == 'ltr'" class="eva eva-arrow-forward"></i>
                <i *ngIf="direction == 'rtl'" class="eva eva-arrow-back"></i>

                </span> {{group}}</div>
            <div class="page-title">{{page}}</div>

        </div>
    </div>

</div>